.main-container {
  display: flex;
  max-width: 1000px;
  /* flex-direction: column;
  align-items: center; */
}
.shopping-cart-container {
  margin: 30px;
  margin-left: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile-container {
  margin: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
