.main-container {
  display: flex;
  justify-content: space-between;
  background-color: #f4f4f4;
}

/* split the profile and user info as separate containers and style them - very basic styling but just a proof of concept - more styling can be added*/
.profile-container {
  width: 30%;
  background-color: #34a0a4;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.shopping-cart-container {
  width: 30%;
  background-color: #1c5b8b;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

img {
  max-width: 150px;
  border: 2px solid #50a995;
}
