.App {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

li {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  align-items: center;
}
li label {
  padding-left: 10px;
  padding-bottom: 3px;
}
