/* * {
  border: 1px solid red;
} */

.Hero {
  background-image: url('../Assets/Images/medium.png');

  background-position: right;
  background-repeat: no-repeat;
  background-size: auto 500px;
  background-attachment: fixed;
  background-attachment: scroll;
  margin-top: 0px;
  padding-top: 0px;
}

h1 {
  padding: 200px 300px;
}
