/* * {
  border: solid 1px red;
} */

/* DELETE: Background color - dark mode - temp*/
* {
  background-color: black;
}

nav {
  display: flex;
  flex: 1;
}

.navbar-logo {
  margin-right: auto;
  margin-left: 15%;
}

li,
.navbar-items {
  display: flex;
  list-style-type: none;
  margin-left: 20px;
}

li,
.navbar-items,
a {
  text-decoration: none;
}

.navbar-logo {
  /* Noe Display Bold */
  font-family: 'Libre Bodoni', serif;
  font-size: 40px;
}
