/* * {
  border: solid 1px red;
} */

/* DELETE: Background color - dark mode - temp*/
/* * {
  background-color: black;
} */

nav {
  display: flex;
  flex: 1;
}

.navbar-logo {
  margin-right: auto;
  margin-left: 15%;
}

li,
.navbar-items {
  display: flex;
  list-style-type: none;
  margin-left: 20px;
}

li,
.navbar-items,
a {
  color: black;
  text-decoration: none;
}

.navbar-logo {
  /* Noe Display Bold */
  font-family: 'Libre Bodoni', serif;
  font-size: 40px;
}

/* .navbar-hr {
  color: black;
  border: 1px solid red;
} */

nav #navbar-btn {
  background-color: black;
  border: none;
  border-radius: 35px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

nav #navbar-btn a {
  color: white;
}

button:hover {
  background-color: #d93737;
}
